.frame {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 5%;
      width: 35vw;
      height: 95%;
      background: #DDE4E6 0% 0% no-repeat padding-box;
      border-radius: 4px;
      opacity: 1;
}

.weather-display {
      text-align: center;
      background-color: #3a7b8a;
      padding: 30px;
      border-radius: 15px;
      color: white;
      width: 60%;
      height: 75%;
      background: #27737D 0% 0% no-repeat padding-box;
      border-radius: 30px;
      opacity: 1;
}

.weather-display .temperature {
      font-size: 48px;
      font-weight: bold;
}

h2 {
      text-align: center;
      font: normal normal normal 26px/26px Heebo;
      letter-spacing: 0px;
      margin: 10px;
      color: #E8F1F2;
      opacity: 1;
}

.title p {
      text-align: center;
      font: normal normal 300 18px/18px Heebo;
      margin: 7px;
      color: #A8C6CB;
      opacity: 1;
}

.temperature {
      text-align: center;
      font: normal normal medium 130px/130px Heebo;
      margin-top: 40px;
      color: #FFFFFF;
      opacity: 1;
}

.temperature p {
      font: normal normal 300 30px/30px Heebo;
      margin: 2%;
}

.details p {
      text-align: center;
      font: normal normal 300 17px/25px Heebo;
      letter-spacing: 0px;
      margin-bottom: 0px;
      color: #E8F1F2;
      opacity: 1;
}

.details span {
      text-align: center;
      font: normal normal medium 20px/30px Heebo;
      color: #FFFFFF;
      opacity: 1;
}

.forecast-item p {
      margin: 0;
      text-align: center;
      font: normal normal 300 18px/13px Heebo;
      letter-spacing: 0px;
      color: #A8C6CB;
      opacity: 1;
}


.forecast-item .temp {
      text-align: center;
      font: normal normal medium 18px/22px Heebo;
      color: #FFFFFF;
      opacity: 1;
}

.details,
.forecast {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
}

.details p,
.forecast p {
      font-size: 14px;
      color: #cfcfcf;
}

@media screen and (max-width: 1000px),
(max-height: 630px) {
      h2 {
            margin: 0px;
            font: normal normal normal 20px/20px Heebo;
      }

      .title p {
            font: normal normal 300 14px/14px Heebo;
      }

      .temperature span {
            font: normal normal medium 100px/100px Heebo;
            margin: 0;
      }

      .temperature p {
            font: normal normal 300 25px/25px Heebo;
      }

      .details p {
            font: normal normal 300 12px/10px Heebo;
      }

      .details span {
            font: normal normal 10px/20px Heebo;
      }

      .details div{
            height: 5%;
      }

      .forecast-item p {
            font: normal normal 300 14px/13px Heebo;
      }

      .forecast-item .temp {
            font: normal normal medium 18px/22px Heebo;
      }
}

@media screen and (max-width: 850px) {
      .frame {
            width: 50vw;
      }
}

@media screen and (max-width: 600px) {
      .frame {
            width: 55vw;
      }
}

@media screen and (max-height: 550px) {
      .temperature p {
            font: normal normal 300 20px/20px Heebo;
            margin: 0;
      }

      .temperature span {
            font: normal normal 300 30px/30px Heebo;
            margin: 0;
      }

      .temperature {
            margin-top: 5px;
      }

      .title p,
      .details p {
            margin: 0;
      }

      .forecast-item {
            margin-bottom: 20px;
      }
}

@media screen and (max-width: 500px){
      .frame {
            width: 90vw;
      }   
}

@media screen and (max-width: 500px),
(max-height: 400px) {
      .frame {
           margin: 0; 
      }

      .temperature p {
            font: normal normal 300 20px/20px Heebo;
            margin: 0;
      }

      .temperature span {
            font: normal normal 300 30px/30px Heebo;
            margin: 0;
      }

      .temperature {
            margin-top: 5px;
      }

      .title p,
      .details p {
            margin: 0;
      }

      .forecast-item {
            margin-bottom: 20px;
      }
}